html,
body {
  display: block;
  float: none;
  font-family: $raleway !important;
  height: 100vw;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.mp-full-container {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  width: 100%;

  .mp-principal-header {
    // background: -webkit-linear-gradient(top, #00000059 25%, #0000 95%);
    background: linear-gradient(180deg, $gray-thirty, $gray-transparent);
    display: flex;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .mp-principal-header-nav {
      display: flex;
      list-style: none;
      margin: 0 auto;
      padding: 0;

      a {
        align-self: center;
        text-decoration: none;

        .mp-nav-item {
          align-items: center;
          display: flex;
          color: $white;
          font-family: $obelix;
          padding: 10px;
          margin: .8em auto;
          text-shadow: 0px 3px 6px rgba(0,0,0,.3);
        }
      }

      .mp-nav-item-logo {
        display: none;
      }

      .mp-nav-item-logo-able {
        display: block;

        img {
          margin: 1em auto;
          width: 150px;
        }
      }
    }

    .mp-nav-item-responsive {
      display: none;
      
      img {
        width: 150px;
      }        
    }    

    .mp-menu-responsive-btn {
      display: none;
    }
  }

  .mp-principal-header-scrolled {
    background: #f6911e;
    display: flex;
    position: fixed;
    box-shadow: inset 0px -5px 0px rgba(0,0,0,0.2);   
    transition: ease .4s;
    z-index: 100;
  }

  .mp-space-backspace {
    display: flex;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    // overflow: hidden;
    width: 100%;

    .mp-space-backspace-img {
      object-fit: cover;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 0;
    }
    .mp-pictures-container {
      align-items: center;
      justify-content: center;
      display: block;
      height: 550px;
      margin: 0em auto;
      width: 100%;
      z-index: 10;
      position: relative;
      top: 35%;

      .mp-pictures-container-block {
        align-content: center;
        align-items: center;
        align-self: center;
        display: flex;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        max-width: 968px;
        width: 100%;
        // position: absolute;

        .mp-pictures-container-block-items {
          background-color: #f00;
          border-radius: 40%;
          display: block;
          height: 150px;
          margin: 0 auto;
          max-width: 150px;
          overflow: hidden;
          padding: 0;
          transform: rotate(220deg);
          width: 150px;

          img {
            bottom: 5px;
            display: flex;
            height: 110%;
            left: -10%;
            margin: 0 auto;
            object-fit: cover;
            position: relative;
            transform: rotate(-220deg);
            width: 120%;
            z-index: 0;
          }
        }      
      }
    }
  }

  .mp-principal-block {
    display: block;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mpp-block-container {
      display: flex;
      height: auto;
      margin: 0 auto;
      margin-top: 1em;
      padding: 0;

      .mpp-block-container-item {

        .mpp-block-container-img {
          display: flex;
          margin: 0 auto;
          width: 50%;          
        }

        span {
          color: $gray;
          display: flex;
          font-family: $raleway;
          font-weight: bold;
          line-height: 1;
          justify-content: center;
          margin: 0.75em auto;;
          text-align: center;
        }
      }
    }

    // .mpp-block-container-txt {
    //   display: block;
    //   height: auto;
    //   margin: 0 auto;
    //   margin-top: 2em;
    //   padding: 0;
    //   position: relative;
    //   text-align: center;
    //   z-index: 2;

    //   .mpp-block-container-title {
    //     color: $orange;
    //     display: flex;
    //     font-family: $obelix;
    //     font-size: 1em;
    //     justify-content: center;
    //   }

    //   .mpp-block-container-parragraph {
    //     font-family: $raleway;
    //     font-size: .75em;
    //     line-height: 0;  
    //   }

    //   .mpp-block-container-strong-txt {
    //     color: $orange;
    //     font-family: $raleway;
    //     margin: 0 auto;
    //     padding: .75em;       
    //   }

    //   .mpp-block-container-strong-link {
    //     background: #f6911e;
    //     border-radius: 15px;
    //     box-shadow: inset -1.5px -2.5px 4px rgba(0,0,0,0.4);
    //     color: #fff;
    //     display: block;
    //     margin: 1.5em auto;
    //     padding: 1em;
    //     text-decoration: none;
    //     width: 50%;        
    //   }
    // }
  }

  .mp-events-container {
    align-self: center;
    background-color: $sand;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-events-container-wave-up {
      position: absolute;
      top: -3.5em;
    }

    .mp-events-element-star {
      bottom: -7.5em;
      right: 5%;
      height: 150px;
      position: absolute;
      width: 150px;
      z-index: 1;    
    }    

    .mp-events-container-wave-down {
      bottom: -3.5em;
      position: absolute;
      z-index: 1;
    }

    .mp-events-container-block {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 968px;
      padding: 0;
      
      .mp-events-block-content {

        .mp-events-container-block-items {
          background-color: #f00;
          border-radius: 40%;
          display: block;
          height: 150px;
          margin: 0 auto;
          max-width: 150px;
          overflow: hidden;
          padding: 0;
          transform: rotate(220deg);
          width: 150px;
          z-index: 1;

          img {
            bottom: 5px;
            display: flex;
            height: 110%;
            left: -10%;
            margin: 0 auto;
            object-fit: cover;
            position: relative;
            transform: rotate(-220deg);
            width: 120%;
            z-index: 0;
          }
        }

        .mp-events-container-block-txt-items {
          background-color: #fff;
          max-width: 160px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          padding: 0;
          position: relative;
          height: 170px;
          top: -75px;

          .mp-events-events-items-bottom {
            bottom: 1em;
            position: absolute;
            text-align: center;

            h1 {
              color: $orange;
              font-size: 1em;
              font-weight: bold;
              text-transform: uppercase;
              text-align: center;
            }

            span {
              color: $gray;
              font-size: .9em;
              font-weight: bold;
              text-align: center;
            }
          }

        }
      }
    }

    .mp-events-btn-action {
      display: block;
      bottom: 0.5em;
      height: auto;
      margin: 0 auto;
      padding: 0;
      left: 0;
      right: 0;
      position: absolute;
      justify-content: center;
      justify-items: center;
      justify-self: center;
      text-align: center;
      z-index: 2;      
    } 
  }

  .mp-souvenirs-container {
    align-self: center;
    background-color: $mustard;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-events-container-wave-up {
      position: absolute;
      top: -3.5em;
    }

    .mp-souvenirs-container-block {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 968px;
      padding: 0;
      
      .mp-souvenirs-block-content {
        height: 280px;
        margin-top: 1.5em;

        .mp-souvenirs-container-block-items {
          border-radius: 40%;
          display: block;
          height: 150px;
          margin: 0 auto;
          max-width: 150px;
          overflow: hidden;
          padding: 0;
          transform: rotate(220deg);
          width: 150px;
          z-index: 1;

          img {
            bottom: 5px;
            display: flex;
            height: 110%;
            left: -10%;
            margin: 0 auto;
            object-fit: cover;
            position: relative;
            transform: rotate(-220deg);
            width: 120%;
            z-index: 0;
          }
        }

        .mp-souvenirs-container-block-txt-items {
          // background-color: #fff;
          max-width: 160px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          padding: 0;
          position: relative;
          height: 170px;
          top: -75px;

          .mp-souvenirs-souvenirs-items-bottom {
            bottom: 1em;
            position: absolute;
            text-align: center;

            a {
              background-color: $orange;
              border-radius: 3px;
              box-shadow: inset -1.5px -2.5px 4px rgba(0, 0, 0, 0.4);
              color: $white;
              font-weight: bold;
              padding: 0.75em 3em;
              text-decoration: none;
            }
          }

        }
      }
    }    

  }

  .mp-videos-container {
    background-color: $white;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-satelite-icon {
      height: 150px;
      width: 150px;
      position: absolute;
      right: 5em;
      top: -5em;
    }

    .mp-spaceship-icon {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 10em;
      bottom: -6em;
      z-index: 1;    
    }    

    .mp-videos-container-block {
      align-self: center;
      display: flex;
      margin: 0 auto;
      max-width: 968px;
      padding: 0;

      .mp-videos-container-element {
        display: flex;
        margin: 0 auto;
        margin-bottom: 2em;
        width: 50%;
      }
    }
  }

  .mp-club-container {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-club-container-block {
      margin-top: 4em;

      h1 {
        font-size: 1.3em;
      }

      .mpp-blick-container-input {
        background-color: #D1D1D1;
        border: none;
        border-radius: 3px;
        height: 40px;
        margin: 1em auto;
        text-align: center;
        width: 100%;
      }
    }    
  }

  .mp-contact-container {
    background-color: $orange;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-contact-asteroid-icon {
      height: 175px;
      width: 175px;
      position: absolute;
      right: 5em;
      top: -5em;
    }

    .mp-contact-container-block {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 968px;
      padding: 0;

      h1 {
        color: $white;
        font-family: $obelix, sans-serif;
        font-size: 2em;
        justify-content: center;
        display: flex;
        width: 100%;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        .mp-contact-container-block-info {
          display: block;
          padding: 0.5em;

          .mpp-blick-container-input {
            background-color: #D1D1D1;
            color: $white;
            border: none;
            border-radius: 3px;
            height: 40px;
            margin: .5em auto;
            padding: 0 1em;
            width: 100%;
          }

          .mpp-blick-container-textarea {
            background-color: #D1D1D1;
            color: $white;
            border: none;
            border-radius: 3px;
            // height: 40px;
            margin: .5em auto;
            padding: 1em;
            // text-align: center;
            width: 100%;            
          }
        }

        .mp-contact-container-send-form {
          background-color: $white;
          border-radius: 4px;
          // box-shadow: inset -1.5px -2.5px 4px rgba(0, 0, 0, 0.4);
          color: $orange;
          font-weight: bold;
          padding: 0.75em 3em;
          margin: 0 .5em;
          text-decoration: none;          
        }
      }  
    }
  } 

  .mp-contact-info-container-content {
    background-color: black;
    display: flex;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    .mp-contact-info-container-block {
      align-self: center;
      display: flex;
      margin: 2em auto;
      max-width: 968px;
      padding: 0;

      .mp-contact-info-container-block-item {
        align-self: baseline;
        display: block;

        h6 {
          color: $white;
          font-weight: bold;
        }

        p {
          color: $white;
          font-size: .8em;
        }
      }
    }
  }

  .mp-bottom-bar {
    background-color: #262626;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    span {
      color: $white;
      margin: 1em auto;
    }
  }

  .mpp-block-container-txt {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 2;

    .mpp-block-container-title {
      color: $orange;
      display: flex;
      font-family: $obelix;
      font-size: 1em;
      justify-content: center;
    }

    .mpp-block-container-parragraph {
      font-family: $raleway;
      font-size: .75em;
      line-height: 0;  
    }

    .mpp-block-container-strong-txt {
      color: $orange;
      font-family: $raleway;
      margin: 0 auto;
      padding: .75em;       
    }

    .mpp-block-container-strong-link {
      background: #f6911e;
      border-radius: 15px;
      box-shadow: inset -1.5px -2.5px 4px rgba(0,0,0,0.4);
      color: #fff;
      display: block;
      font-weight: bold;
      margin: 1.5em auto;
      padding: 1em;
      text-decoration: none;
      width: 50%;        
    }
  }  
  
  .mp-rounded-block {
    background: #fff;
    border-radius: 60%;      
    height: 300px;
    margin-left: -70px;
    // margin-right: -100px;
    margin-top: -250px;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 0%;
    width: 110%;

    .mp-main-logo {
      display: flex;
      margin: 0 auto;
      padding: 0;
      position: relative;
      top: -12em;
      width: 400px;
    }
  }

  .mp-rounded-block-bottom {
    background: #fff;
    border-radius: 60%;
    height: 300px;
    margin-left: -70px;
    margin-top: -250px;
    opacity: 1;
    position: absolute;
    bottom: -21%;
    left: 0%;
    width: 110%;
    z-index: 1;

    .mp-main-logo-bottom {
      display: flex;
      left: -25%;
      margin: 0 auto;
      padding: 0;
      position: relative;
      top: 10em;
      width: 180px;      
    }

  }

  .mp-blank-space {
    background-color: #f2e9e2;
    height: 150px;
    // margin: 2em auto;
    width: 100%;
  }

  .mp-principal-sourvenirs-container {
    align-self: center;
    background-color: #f2e9e2;
    display: flex;
    height: 500px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding: 0;
    width: 100%;

    .mp-principal-sourvenirs-container-block {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 968px;
      padding: 0;

      .mp-principal-sourvenirs-container-block-image {
        display: block;
        justify-content: center;
        overflow: hidden;
        padding: 1em;
        
        img {
          border: 1em solid #fff;
          display: flex;
          height: 310px;
          justify-self: center;
          margin: 0 auto;
          width: 90%;
        }
      }

      .mp-principal-sourvenirs-container-block-txt {
        h2 {
          color: $gray;
          font-weight: bold;
          margin-bottom: 1em;
        }

        p {
          color: $gray;
          text-align: justify;
        }
      }
    }  
  }

}
