$font-path: '../fonts/';
$obelix: 'ObelixPro', sans-serif;
$raleway: 'Raleway', sans-serif;

$small-window: 480px;
$landscape-small-window: 736px;
$tablet-window: 768px;
$maximum-width: 1170px;

$white: #fff;
$gray: #4d4d4d;
$orange: #f6921e;
$mustard: #ffd99b;
$sand: #f2e9e2;
